theme = "onedark"

[editor]
line-number = "relative"
cursorline = true
auto-save = true
true-color = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.normal]
# Your custom keybinds can go here if needed
