@import "../../.cache/wal/colors-waybar.css";
* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 16px;
}

#waybar {
  margin: 20px;
  border-radius: 16px;
  background: rgba(20, 20, 20, 0.85);

}


.modules-left {
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modules-right {
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 16px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-logo,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-logo {
  margin-right: 15px;
  padding-right: 10px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
