@theme "/home/vcnt/installation/dotfiles/config/rofi/style.rasi"

configuration {
    modi:                "drun";
    show-icons:          true;
    icon-theme:          "Papirus";
    drun-display-format: "{name}";
    display-drun:        "";
    terminal:            "kitty";
    font:                "FiraCode Nerd Font 13";
    kb-cancel:           "Escape";
}
